*.class
*.crt
*.html
*.json
*.key
*.log
*.map.json
*.pcapng
*.pem
*.pyc
*.swp
*.tar*
*.txt
*.zip*


__pycache__/
*.pyc


.vscode/
.idea/
*.iml
*.ipr
*.iws
.atom/
.history


.DS_Store


appbuild/
build/
.build/
.buildlog/
dump/
opt/
reviewfiles/
send_files/
received_files/
clipboard.txt
migrate_working_dir/
LANFXplorer/
lanfxplorer


*.peers_key


.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
**/doc/api/
**/ios/Flutter/.last_build_id
/android/app/debug
/android/app/profile
/android/app/release


python_build/
python_ui/


virtual/


32bitscreens/__pycache__/
32bitscreens/build/
32bitscreens/dist/

c_ver/build/*


!requirements.txt
!32bitcodes/requirements_64.txt
!32bitcodes/requirements_32.txt
!c_ver/build/sender
!c_ver/build/receiver


.prompt_attachments
*.hologram.dart
Notes.md