*.pem
# *.txt
*.json
send_files/
received_files/
dump/
*__pycache__/
*.key
.vscode/
.agent/
appbuild/
pkica_export/
# Miscellaneous
*.class
*.log
opt/
*.pyc
*.swp
.DS_Store
.atom/
*.peers_key
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
dump/
# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
LANFXplorer/
# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
# lanfXplorer
# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

.prompt_attachments
*.hologram.dart
*.tar*
*.zip*
/virtual/
*.html